<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
      <nav>
        <a href="/">Accueil</a>
        <a href="/nos%20actions/arcade.md/">Création Arcade</a>
        <a href="/nos%20actions/accessibilite.md/">Campagne Accessibilité</a>
        <a href="/nos%20actions/thermoconfort.md/">Campagne Thermique</a>
        <a href="/carte_accessibilite_interactive.md/">Accès à notre carte interactive</a>
        <a href="/jeu_arcade_accessibilite.md/">Accès à notre jeux d'arcade "Accessibilité"</a>
        <a href="/nos_ressources.md/">Ressources à télécharger"</a>
      </nav>
        <section id="main-content">
          {{ content }}
        </section>
      </div>
    </div>

  </body>
</html>
